div.wpform-div {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
}

div.wpform-div p {
    margin-bottom: 5px;
}

div.wpform-div input {
    margin-bottom: 15px;
    margin-left: 0px;
    width: 100%;
}

div.wpform-div textarea {
    margin-bottom: 15px;
    margin-left: 0px;
    width: 100%;
}

/* div.wpform-div button {
width: 100%;
} */

#error, div.wpform-div span {
 color: rgb(199, 98, 98);
}

#success {
    color: rgb(96, 147, 96);
}